<!DOCTYPE html>
<html>
<head>
	<title>Search Any Medicine</title>
</head>
<body>
	<div id="workspace">
		<h1 align='center'>Search Any Medicine</h1>
		<br/>
		<form>
			<input type="text" id="text" name="text">
			<input type="button" name="search" value="Search">
		</form>
		<div id="result">
		</div>
	</div>
</body>
</html>